@model People
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*  This is a partial view that will show all all people including headline. *@
@*  The partial view is typically used by Index to show all in the placeholder. *@


@if (Model.PersonList.Count > 0)
{
    <div class="row" id="head">
        @*===THE BOOTSTRAP LOOSE DIV-TABLE TRICK===*@

        <div class="col-2">
            <h5>First Name</h5>
        </div>
        <div class="col-2">
            <h5>Last Name</h5>
        </div>
        <div class="col-2">
            <h5>Phone</h5>
        </div>
        <div class="col-2">
            <h5>City</h5>
        </div>
        <div class="col-1">
            <h5>Id</h5>
        </div>
        <div class="col-1">
            <h5>Action</h5>
        </div>
        <div class="col-1">
            <h5>Action</h5>
        </div>
    </div>
    @foreach (Person aPerson in Model.PersonList)  //===THE BOOTSTRAP DIV-TABLE TRICK===
    {
        <partial name="../Shared/_PersonPartial" model="aPerson" />
    }
}
else
{
    <h5>No data to show.</h5>
}
