@model Languages

@{
    ViewData["Title"] = "Language Listing";
}

<h2>List of Languages</h2>

@if (Model.LanguageList.Count == 0)
{
    <h4>No Languages in list. Create Laguage below.</h4>
}
else
{
    <div id="ListContainer">
        <table id="ListList">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Language Id</th>
                    <th>Persons using</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Language aLang in Model.LanguageList)
                {
                    <tr>
                        <td>@aLang.Name</td>
                        <td>@aLang.Id</td>
                        <td>@aLang.PersonLanguages.Count</td>
                        <td><a asp-action="Delete" asp-controller="Language" asp-route-id="@aLang.Id">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

<hr />

<h4>Add Language</h4>

<form asp-action="Create" asp-controller="Language" method="post">
    @* Using taghelpers in this Form *@

    <label asp-for="Language.Name"></label> @* Using the CreateLanguage ViewModel From type Languages in Model *@
    <input asp-for="Language.Name" />
    <span asp-validation-for="Language.Name"></span>

    <button>Create</button>
    <button type="reset">Reset</button>

</form>

