@model MVCAppAssignment2.Models.ViewModel.People;

@{
    ViewData["Title"] = "People";
}

<h2>People</h2>

@if (Model.PersonList.Count > 0)
{

    @foreach (Person aPerson in Model.PersonList)  //===THE BOOTSTRAP CARDS TRICK===
    {
        <partial name="../Shared/_personThumbnail" model="aPerson" />
    }

    <div style="clear:both"></div> <!--- Resets the float:left in the Cards -->

}
else
{
    <h5>No Persons. Start with Countries, then Cities!</h5>
}


<hr />


<h4>Filter the list</h4>
<form asp-action="Filter" asp-controller="People" method="post">
    <label asp-for="filter"></label>
    <input asp-for="filter" />
    <span asp-validation-for="filter"></span>
    <button>Use filter</button>
    <button type="reset">Reset</button>
</form>

<hr />
<h4>Add person</h4>

<form asp-action="Create" asp-controller="People" method="post">

    <label asp-for="Person.FirstName"></label>
    <input asp-for="Person.FirstName" />
    <span asp-validation-for="Person.FirstName"></span>

    <label asp-for="Person.LastName"></label>
    <input asp-for="Person.LastName" />
    <span asp-validation-for="Person.LastName"></span>

    <label asp-for="Person.Phone"></label>
    <input asp-for="Person.Phone" />
    <span asp-validation-for="Person.Phone"></span>

    <label asp-for="TheTown"></label>
    <select asp-for="TheTown">
        @foreach (City aCity in Model.CityList)
        {
            <option value="@aCity.Id">@aCity.Name</option>

        }
    </select>
    <span asp-validation-for="TheTown"></span>


    <button>Create</button>
    <button type="reset">Reset</button>

</form>

